html{

}

body{

}

.App {
  text-align: center;
  background-image: url("../src/images/coffee-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}


/* personal css */

.footer{
  display: block;
  color:white;
  background: rgba(0, 0, 0, 0.3);
  border-top:2px solid rgba(236, 240, 241,1.0);
  position: sticky;
  bottom: 0;
  
  width: 100% !important;
  padding: 5em 0em;

}



.menuHeader{
  background: rgba(0, 0, 0, 0.3) !important;
  border-bottom: 1px solid white !important;
  position: fixed;
  top:0;
  right: 2%;
  width: fit-content;
  z-index: 10;
}

.menuHeaderVisible{
  background: rgb(169, 54, 159) !important;
  border-bottom: 1px solid white !important;
  position: fixed;
  top:0;
  right: 2%;
  width: fit-content;
  z-index: 10;
}

.logo{
  position: fixed;
  top:-50px;
  left: 0;
  z-index: 10;
}


/* .menuHeader:hover{
  background: rgba(255, 255, 255, 0.3) !important;
} */

.personalContainer{
  background: rgb(0, 0, 0) !important;
  text-align: left;
  min-height:1080px;
}



/* custom banner hero */
.heroSection{
  display: flex;
  position: absolute;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index:-1;
  
}

.bannerGreeting{
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top:40%;
  left:50%;
  z-index: 0;
  font-size: 60px !important;
  font-family: 'Modak', cursive !important;

}

.bannerName{
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  z-index: 0;
  font-size: 60px !important;
  font-family: 'Modak', cursive !important;
}

.bannerRandomWord{
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top:60%;
  left:40%;
  z-index: 0;
  font-size: 60px !important;
  font-family: 'Modak', cursive !important;

}

.projectContainer{
  max-height: fit-content;
  overflow: hidden;
  overflow-y: visible;
}

.slider{
  outline:2px solid red;
  position: sticky;
  margin:1rem;
  overflow: hidden;
}

.imageSlider{
  display: inline-block;
  margin:0 !important;
}