html{

}
body{
  /* background:rgb(10, 21, 31) !important; */
}

.App {
  text-align: center;
  background-image: url("../src/images/coffee-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}


/* personal css */

.footer{
  display: block;
  color:white;
  background: rgba(0, 0, 0, 0.3);
  border-top:2px solid rgba(236, 240, 241,1.0);
  position: sticky;
  bottom: 0;
  
  width: 100% !important;
  padding: 5em 0em;

}



.menuHeader{
  background: rgba(0, 0, 0, 0.3) !important;
  border-bottom: 1px solid white !important;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;
  /* border:1px solid rgba(236, 240, 241,1.0) !important; */
}


/* .menuHeader:hover{
  background: rgba(255, 255, 255, 0.3) !important;
} */

.personalContainer{
  background: rgba(255, 255, 255, 0.2) !important;
  text-align: left;
}

.customLabel{
  color:white !important;
}


/* custom banner hero */
.heroSection{
  display: flex;
  position: absolute;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index:-1;
  
}

.bannerTitle{
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top:40%;
  left:50%;
  z-index: 0;
  font-size: 60px !important;
  font-family: 'Modak', cursive !important;

}

